<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link type="text/css" rel="stylesheet" href="/media/css/main.css" />
      {% block css %}
      {% endblock %}
    <title>{{ titulo }}</title>
  </head>
  <body>

    {% block contenido %}
    {% endblock %}
  </body>
  {% block js %}
  {% endblock %}
  <script type="text/javascript" src="/media/js/jquery-2.0.3.min.js"></script>
</html>